.button{
   display: inline-block;
   padding: 10px 32px;
   border-width: 0px;
   border-radius: 4px;
   color: getColor('textButton');
   background-color: getColor('accent');
   line-height: 30px;
   text-align: center;
   font-size: 16px;
   font-style: normal;

   transition: color $reactionTime $cubicPrimary, background-color $cubicPrimary $cubicPrimary;

}
%hero-footer__basis{
   width: 200px;
   height: 50px;
   font-weight: 700;

   &:hover,
   &:focus {
      color: getColor('accent');
      background-color: getColor('textButton');
   }
}
.hero__button{
   @extend %hero-footer__basis;
   margin: auto;
}
.footer__button {
   @extend %hero-footer__basis;
   position: absolute;
   right: 0;
   bottom: 0;
   padding-right: 62px;
}
.footer__button--icon{
   position: absolute;
   top: 13px;
   right: 28px;
   width: 24px;
   height: 24px;
   fill: currentColor;
}
.portfolio__button{
   color: getColor('textSecondary');
   background-color: getColor('textButton');
   padding: 6px 22px;
   text-align: center;
   font-weight: 500;
   font-size: 16px;
   line-height: 26px;

   &:hover,
   &:focus{
      color: getColor('textButton');
      background-color: getColor('accent');
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
   }
}