.logo{
   text-decoration: none;
   color: getColor('logoSecondary');
   font-family: $fontFamilySecondary;
   font-size: 26px;
   font-weight: 700;
}
.logo__primary{
   color: getColor('logoPrimary');
}
.header__logo{
   margin-right: 93px;
}
.footer__logo{
   color: getColor('logoSecondaryFooter');
}